/*!
* Maiko-UI V1.0.0
* Copyright 2018, Nigel Jaure
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/*HR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.m-hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.m-full-width {
    width: 100%;
    box-sizing: border-box; }
  
  .m-full-width-xl {
    max-width: 100%;
    box-sizing: border-box; }
  
  .m-float-r {
    float: right; }
  
  .m-float-l {
    float: left; }
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container:after,
.row:after,
.m-clr {
  content: "";
  display: table;
  clear: both; }


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.m-container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }
  
  .m-col,
  .m-col {
    width: 100%;
    float: left;
    box-sizing: border-box; }
  
  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .m-container {
      width: 85%;
      padding: 0; } }
  
  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .m-container {
      width: 80%; }
    .m-col {
      margin-left: 4%; }
    .m-col:first-child {
      margin-left: 0; }
    .m-col-1.m-col {
      width: 4.66666666667%; }
    .m-col-2.m-col {
      width: 13.3333333333%; }
    .m-col-3.m-col {
      width: 22%; }
    .m-col-4.m-col {
      width: 30.6666666667%; }
    .m-col-5.m-col {
      width: 39.3333333333%; }
    .m-col-6.m-col {
      width: 48%; }
    .m-col-7.m-col {
      width: 56.6666666667%; }
    .m-col-8.m-col {
      width: 65.3333333333%; }
    .m-col-9.m-col {
      width: 74.0%; }
    .m-col-10.m-col {
      width: 82.6666666667%; }
    .m-col-11.m-col {
      width: 91.3333333333%; }
    .m-col-12.m-col {
      width: 100%;
      margin-left: 0; }
    .one-third.m-col {
      width: 30.6666666667%; }
    .two-thirds.m-col {
      width: 65.3333333333%; }
    .one-half.m-col {
      width: 48%; }
    /* Offsets */
    .m-offset-by-1.m-col {
      margin-left: 8.66666666667%; }
    .m-offset-by-2.m-col {
      margin-left: 17.3333333333%; }
    .m-offset-by-3.m-col {
      margin-left: 26%; }
    .m-offset-by-4.m-col {
      margin-left: 34.6666666667%; }
    .m-offset-by-5.m-col {
      margin-left: 43.3333333333%; }
    .m-offset-by-6.m-col {
      margin-left: 52%; }
    .m-offset-by-7.m-col {
      margin-left: 60.6666666667%; }
    .m-offset-by-8.m-col {
      margin-left: 69.3333333333%; }
    .m-offset-by-9.m-col {
      margin-left: 78.0%; }
    .m-offset-by-10.m-col {
      margin-left: 86.6666666667%; }
    .m-offset-by-11.m-col {
      margin-left: 95.3333333333%; }
    .m-offset-by-one-third.m-col {
      margin-left: 34.6666666667%; }
    .m-offset-by-two-thirds.m-col {
      margin-left: 69.3333333333%; }
    .m-offset-by-one-half.m-col {
      margin-left: 52%; } }
  
  .m-flex-container-fluid,
  .m-flex-container {
    margin-right: auto;
    margin-left: auto; }
  
  .m-flex-container-fluid {
    padding-right: 2rem;
    padding-left: 2rem; }
  
  .m-flex-row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
  
  .m-flex-row.m-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  
  .m-flex-col.m-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  
  .m-col-xs,
  .m-col-xs-1,
  .m-col-xs-2,
  .m-col-xs-3,
  .m-col-xs-4,
  .m-col-xs-5,
  .m-col-xs-6,
  .m-col-xs-7,
  .m-col-xs-8,
  .m-col-xs-9,
  .m-col-xs-10,
  .m-col-xs-11,
  .m-col-xs-12,
  .m-col-xs-offset-0,
  .m-col-xs-offset-1,
  .m-col-xs-offset-2,
  .m-col-xs-offset-3,
  .m-col-xs-offset-4,
  .m-col-xs-offset-5,
  .m-col-xs-offset-6,
  .m-col-xs-offset-7,
  .m-col-xs-offset-8,
  .m-col-xs-offset-9,
  .m-col-xs-offset-10,
  .m-col-xs-offset-11,
  .m-col-xs-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  
  .m-col-xs {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  
  .m-col-xs-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  
  .m-col-xs-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  
  .m-col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  
  .m-col-xs-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  
  .m-col-xs-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  
  .m-col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  
  .m-col-xs-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  
  .m-col-xs-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  
  .m-col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  
  .m-col-xs-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  
  .m-col-xs-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  
  .m-col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  
  .m-col-xs-offset-0 {
    margin-left: 0; }
  
  .m-col-xs-offset-1 {
    margin-left: 8.33333333%; }
  
  .m-col-xs-offset-2 {
    margin-left: 16.66666667%; }
  
  .m-col-xs-offset-3 {
    margin-left: 25%; }
  
  .m-col-xs-offset-4 {
    margin-left: 33.33333333%; }
  
  .m-col-xs-offset-5 {
    margin-left: 41.66666667%; }
  
  .m-col-xs-offset-6 {
    margin-left: 50%; }
  
  .m-col-xs-offset-7 {
    margin-left: 58.33333333%; }
  
  .m-col-xs-offset-8 {
    margin-left: 66.66666667%; }
  
  .m-col-xs-offset-9 {
    margin-left: 75%; }
  
  .m-col-xs-offset-10 {
    margin-left: 83.33333333%; }
  
  .m-col-xs-offset-11 {
    margin-left: 91.66666667%; }
  
  .m-start-xs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  
  .m-center-xs {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  
  .m-end-xs {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  
  .m-top-xs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  
  .m-middle-xs {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  
  .m-bottom-xs {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  
  .m-around-xs {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  
  .m-between-xs {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  
  .m-first-xs {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  
  .m-last-xs {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  
  @media only screen and (min-width: 48em) {
    .m-flex-container {
      width: 49rem; }
    .m-col-sm,
    .m-col-sm-1,
    .m-col-sm-2,
    .m-col-sm-3,
    .m-col-sm-4,
    .m-col-sm-5,
    .m-col-sm-6,
    .m-col-sm-7,
    .m-col-sm-8,
    .m-col-sm-9,
    .m-col-sm-10,
    .m-col-sm-11,
    .m-col-sm-12,
    .m-col-sm-offset-0,
    .m-col-sm-offset-1,
    .m-col-sm-offset-2,
    .m-col-sm-offset-3,
    .m-col-sm-offset-4,
    .m-col-sm-offset-5,
    .m-col-sm-offset-6,
    .m-col-sm-offset-7,
    .m-col-sm-offset-8,
    .m-col-sm-offset-9,
    .m-col-sm-offset-10,
    .m-col-sm-offset-11,
    .m-col-sm-offset-12 {
      box-sizing: border-box;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      padding-right: 0.5rem;
      padding-left: 0.5rem; }
    .m-col-sm {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%; }
    .m-col-sm-1 {
      -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
      max-width: 8.33333333%; }
    .m-col-sm-2 {
      -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
      max-width: 16.66666667%; }
    .m-col-sm-3 {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%; }
    .m-col-sm-4 {
      -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
      max-width: 33.33333333%; }
    .m-col-sm-5 {
      -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
      max-width: 41.66666667%; }
    .m-col-sm-6 {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%; }
    .m-col-sm-7 {
      -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
      max-width: 58.33333333%; }
    .m-col-sm-8 {
      -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
      max-width: 66.66666667%; }
    .m-col-sm-9 {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%; }
    .m-col-sm-10 {
      -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
      max-width: 83.33333333%; }
    .m-col-sm-11 {
      -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
      max-width: 91.66666667%; }
    .m-col-sm-12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%; }
    .m-col-sm-offset-0 {
      margin-left: 0; }
    .m-col-sm-offset-1 {
      margin-left: 8.33333333%; }
    .m-col-sm-offset-2 {
      margin-left: 16.66666667%; }
    .m-col-sm-offset-3 {
      margin-left: 25%; }
    .m-col-sm-offset-4 {
      margin-left: 33.33333333%; }
    .m-col-sm-offset-5 {
      margin-left: 41.66666667%; }
    .m-col-sm-offset-6 {
      margin-left: 50%; }
    .m-col-sm-offset-7 {
      margin-left: 58.33333333%; }
    .m-col-sm-offset-8 {
      margin-left: 66.66666667%; }
    .m-col-sm-offset-9 {
      margin-left: 75%; }
    .m-col-sm-offset-10 {
      margin-left: 83.33333333%; }
    .m-col-sm-offset-11 {
      margin-left: 91.66666667%; }
    .m-start-sm {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-align: start; }
    .m-center-sm {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center; }
    .m-end-sm {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      text-align: end; }
    .top-sm {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .m-middle-sm {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .m-bottom-sm {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
    .m-around-sm {
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .m-between-sm {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .m-first-sm {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; }
    .m-last-sm {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }
  
  @media only screen and (min-width: 64em) {
    .m-flex-container {
      width: 65rem; }
    .m-col-md,
    .m-col-md-1,
    .m-col-md-2,
    .m-col-md-3,
    .m-col-md-4,
    .m-col-md-5,
    .m-col-md-6,
    .m-col-md-7,
    .m-col-md-8,
    .m-col-md-9,
    .m-col-md-10,
    .m-col-md-11,
    .m-col-md-12,
    .m-col-md-offset-0,
    .m-col-md-offset-1,
    .m-col-md-offset-2,
    .m-col-md-offset-3,
    .m-col-md-offset-4,
    .m-col-md-offset-5,
    .m-col-md-offset-6,
    .m-col-md-offset-7,
    .m-col-md-offset-8,
    .m-col-md-offset-9,
    .m-col-md-offset-10,
    .m-col-md-offset-11,
    .m-col-md-offset-12 {
      box-sizing: border-box;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      padding-right: 0.5rem;
      padding-left: 0.5rem; }
    .m-col-md {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%; }
    .m-col-md-1 {
      -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
      max-width: 8.33333333%; }
    .m-col-md-2 {
      -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
      max-width: 16.66666667%; }
    .m-col-md-3 {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%; }
    .m-col-md-4 {
      -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
      max-width: 33.33333333%; }
    .m-col-md-5 {
      -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
      max-width: 41.66666667%; }
    .m-col-md-6 {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%; }
    .m-col-md-7 {
      -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
      max-width: 58.33333333%; }
    .m-col-md-8 {
      -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
      max-width: 66.66666667%; }
    .m-col-md-9 {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%; }
    .m-col-md-10 {
      -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
      max-width: 83.33333333%; }
    .m-col-md-11 {
      -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
      max-width: 91.66666667%; }
    .m-col-md-12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%; }
    .m-col-md-offset-0 {
      margin-left: 0; }
    .m-col-md-offset-1 {
      margin-left: 8.33333333%; }
    .m-col-md-offset-2 {
      margin-left: 16.66666667%; }
    .m-col-md-offset-3 {
      margin-left: 25%; }
    .m-col-md-offset-4 {
      margin-left: 33.33333333%; }
    .m-col-md-offset-5 {
      margin-left: 41.66666667%; }
    .m-col-md-offset-6 {
      margin-left: 50%; }
    .m-col-md-offset-7 {
      margin-left: 58.33333333%; }
    .m-col-md-offset-8 {
      margin-left: 66.66666667%; }
    .m-col-md-offset-9 {
      margin-left: 75%; }
    .m-col-md-offset-10 {
      margin-left: 83.33333333%; }
    .m-col-md-offset-11 {
      margin-left: 91.66666667%; }
    .m-start-md {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-align: start; }
    .m-center-md {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center; }
    .m-end-md {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      text-align: end; }
    .m-top-md {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .m-middle-md {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .m-bottom-md {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
    .m-around-md {
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .m-between-md {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .m-first-md {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; }
    .m-last-md {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }
  
  @media only screen and (min-width: 75em) {
    .m-flex-container {
      width: 76rem; }
    .m-col-lg,
    .m-col-lg-1,
    .m-col-lg-2,
    .m-col-lg-3,
    .m-col-lg-4,
    .m-col-lg-5,
    .m-col-lg-6,
    .m-col-lg-7,
    .m-col-lg-8,
    .m-col-lg-9,
    .m-col-lg-10,
    .m-col-lg-11,
    .m-col-lg-12,
    .m-col-lg-offset-0,
    .m-col-lg-offset-1,
    .m-col-lg-offset-2,
    .m-col-lg-offset-3,
    .m-col-lg-offset-4,
    .m-col-lg-offset-5,
    .m-col-lg-offset-6,
    .m-col-lg-offset-7,
    .m-col-lg-offset-8,
    .m-col-lg-offset-9,
    .m-col-lg-offset-10,
    .m-col-lg-offset-11,
    .m-col-lg-offset-12 {
      box-sizing: border-box;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      padding-right: 0.5rem;
      padding-left: 0.5rem; }
    .m-col-lg {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%; }
    .m-col-lg-1 {
      -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
      max-width: 8.33333333%; }
    .m-col-lg-2 {
      -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
      max-width: 16.66666667%; }
    .m-col-lg-3 {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%; }
    .m-col-lg-4 {
      -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
      max-width: 33.33333333%; }
    .m-col-lg-5 {
      -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
      max-width: 41.66666667%; }
    .m-col-lg-6 {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%; }
    .m-col-lg-7 {
      -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
      max-width: 58.33333333%; }
    .m-col-lg-8 {
      -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
      max-width: 66.66666667%; }
    .m-col-lg-9 {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%; }
    .m-col-lg-10 {
      -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
      max-width: 83.33333333%; }
    .m-col-lg-11 {
      -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
      max-width: 91.66666667%; }
    .m-col-lg-12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%; }
    .m-col-lg-offset-0 {
      margin-left: 0; }
    .m-col-lg-offset-1 {
      margin-left: 8.33333333%; }
    .m-col-lg-offset-2 {
      margin-left: 16.66666667%; }
    .m-col-lg-offset-3 {
      margin-left: 25%; }
    .m-col-lg-offset-4 {
      margin-left: 33.33333333%; }
    .m-col-lg-offset-5 {
      margin-left: 41.66666667%; }
    .m-col-lg-offset-6 {
      margin-left: 50%; }
    .m-col-lg-offset-7 {
      margin-left: 58.33333333%; }
    .m-col-lg-offset-8 {
      margin-left: 66.66666667%; }
    .m-col-lg-offset-9 {
      margin-left: 75%; }
    .m-col-lg-offset-10 {
      margin-left: 83.33333333%; }
    .m-col-lg-offset-11 {
      margin-left: 91.66666667%; }
    .m-start-lg {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-align: start; }
    .m-center-lg {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center; }
    .m-end-lg {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      text-align: end; }
    .m-top-lg {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .m-middle-lg {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .m-bottom-lg {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
    .m-around-lg {
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .m-between-lg {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .m-first-lg {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; }
    .m-last-lg {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }
  
  